<div class="signin-page-container">
<% provide(:title, "Sign in") %>
<h1 class="page-title">sign in</h1>

<%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>
<br><br>
  <%= f.submit "Sign in", class: "btn btn-standout" %>
<% end %>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>

</div>
