<div class="display-vacation-container">
<% provide(:title, @vacation.name) %>

<h1 class="page-title"><%= @vacation.name %></h1>

<h2 class="page-subtitle">Location: <%= @vacation.location %></h2>
<h2 class="page-subtitle">Start Date: <%= @vacation.date_start %></h2>
<h2 class="page-subtitle">End Date: <%= @vacation.date_end %></h2>

<%= form_for @trip_code do |f| %>
  <%= f.hidden_field :vacation_id, value: @vacation.id %>
  <%= f.submit "Generate customer trip code", class: "btn btn-large btn-standout" %>
<% end %>
</div>